:root {
  --main-tan: #B48C5C;
  --main-light-green: #8ABE91;
  --main-grey: #5B635B;
  --main-silver: #CFC8C1;
  --main-dark-green: #1C3225;
  --main-dark-grey: #2F3032;


}

body
{
  background-color: var(--main-dark-grey);
}

#headDiv
{
      width: 100%;
      height: 40px;
      /*left: 50%;*/
      transform: translate(-10px, -10px);
      position: fixed;

      padding-left: 20%;
      padding-right: 20%;
      padding-top: 20px;
      background-color: var(--main-dark-green);
      overflow: hidden;
}

a.headerText{
      float: left;
      margin-left: 5%;
      text-align: center;
    /*  color: var(--main-silver);*/
      transition: color .5s ease;
      /*margin-right: 25%;
      text-align: center;
      /*display: flex;
      align-items: center;
      justify-content: center;*/
}

a{
  color: var(--main-silver);
}

a:link {
  color: var(--main-silver);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: var(--main-silver);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: var(--main-tan);
  background-color: transparent;
  text-decoration: none;
  transition: color .5s ease;
}

a:active {
  color: var(--main-dark-grey);
  background-color: transparent;
  text-decoration: none;
}

#logoDiv {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: pink;
}

/*table {
  margin: .3em;
  width: 290px;
}

th {
  padding: .2em;
}

td {
  padding-left: .5em;
  padding-right: .5em;
  border: 1px solid #900;
  background-color: #ffc;
}

#trHeader {
  text-decoration: underline;
  color: #900;
}

.centerCell {
  text-align: center;
}*/
